<footer>

    <img
        src="../../assets/images/svg/amazon_prime_video_logo.svg"
        alt="Amazon Prime Video Logo"
        class="footer__logo"
    >

    <ul class="footer__info">

        <li class="footer__link">
            Termos e aviso de privacidade
        </li>

        <li class="footer__link">
            Enviar feedback
        </li>

        <li class="footer__link">
            Ajuda
        </li>

        <li class="footer__credits">
            © 1996-2021, Amazon.com, Inc. ou suas afiliadas
        </li>

    </ul>

</footer>