.navbar__nav-search {

    max-width: 250px;
    max-height: 40px;

    color: $white-primary;

    .nav-search__input {

        width: 250px;
        height: 40px;

        padding-left: 34px;

        font-size: 17px;
        
        background-color: transparent;
        background-image: url(../../assets/images/svg/search.svg);
        background-position: 7px 10px;
        background-size: 8%;
        background-repeat: no-repeat;

        border: 1px solid rgba(129,151,164,.5);
        
        &:hover {
            
            border: 1px solid rgba(129,151,164,.7);
            
        }

        &:focus {

            color: $white-primary;

            border: 1px solid #8197a4;
            
            background-color: rgba(15,23,30,.5);

            outline: none;

        }

    }

}
