<nav class="navbar">

    <img 
    src="../../assets/images/svg/amazon_prime_video_logo.svg"
    alt=""
    class="navbar__nav-logo">

    <ul class="navbar__nav-links">

        <li class="nav-links__link">Início</li>
        <li class="nav-links__link">Séries</li>
        <li class="nav-links__link">Filmes</li>
        <li class="nav-links__link">Infantil</li>
        <li class="nav-links__link">Canais</li>

    </ul>

    <div class="navbar__nav-search">

        <input type="text" class="nav-search__input" placeholder="Busca">
    
    </div>
    
    <div class="navbar__nav-profile">

        <img class="nav-profile__image" src="../../../assets/images/png/default-profile-image.png">
    
        <span class="nav-profile__username">Username</span>
    
        <img class="nav-profile__arrow" src="../../../assets/images/svg/down-arrow.svg">
    
    </div>

</nav>