<nav class="navbar">

    <a 
    routerLink="/home"
    class="navbar__nav-logo">
        
        <img 
        src="../../assets/images/svg/amazon_prime_video_logo.svg"
        alt="">

    </a>
    
    <ul class="navbar__nav-links">

        <li class="nav-links__link" routerLinkActive="active"><a routerLink="/home">Início</a></li>
        <li class="nav-links__link" routerLinkActive="active"><a routerLink="/series">Séries</a></li>
        <li class="nav-links__link" routerLinkActive="active"><a routerLink="/movies">Filmes</a></li>
        <li class="nav-links__link" routerLinkActive="active"><a routerLink="/children">Infantil</a></li>
        <li class="nav-links__link" routerLinkActive="active"><a routerLink="/search">Filter</a></li>

    </ul>

    <div class="navbar__nav-search">

        <input
        type="text"
        [(ngModel)]="filteredVideosInput"
        (keyup.enter)="onKeyUp()"
        routerLink="/search"
        class="nav-search__input"
        placeholder="Busca">
    
    </div>
    
    <div class="navbar__nav-profile">

        <img class="nav-profile__image" src="../../../assets/images/png/default-profile-image.png">
    
        <span class="nav-profile__username">Username</span>
    
        <img class="nav-profile__arrow" src="../../../assets/images/svg/down-arrow.svg">
    
    </div>

</nav>