<app-navbar></app-navbar>

<app-carousel></app-carousel>

<app-video-section
    [movies]="nowPlayingMovies"
    sectionTitle="Séries Amazon Originals para crianças">
</app-video-section>

<app-video-section
    [movies]="popularMovies"
    sectionTitle="Melhores filmes">
</app-video-section>

<app-video-section
    [movies]="topRatedMovies"
    sectionTitle="Melhores séries">
</app-video-section>

<app-video-section
    [movies]="upcomingMovies"
    sectionTitle="Animações">
</app-video-section>

<app-video-section
    [movies]="nowPlayingMovies"
    sectionTitle="Séries educativas">
</app-video-section>

<app-video-section
    [movies]="popularMovies"
    sectionTitle="Ação e aventura">
</app-video-section>