<app-navbar></app-navbar>

<app-carousel></app-carousel>

<app-video-catalogue
    [movies]="nowPlayingMovies"
    catalogueTitle="Séries Amazon Originals para crianças">
</app-video-catalogue>

<app-video-catalogue
    [movies]="popularMovies"
    catalogueTitle="Melhores filmes">
</app-video-catalogue>

<app-video-catalogue
    [movies]="topRatedMovies"
    catalogueTitle="Melhores séries">
</app-video-catalogue>

<app-video-catalogue
    [movies]="upcomingMovies"
    catalogueTitle="Animações">
</app-video-catalogue>

<app-video-catalogue
    [movies]="nowPlayingMovies"
    catalogueTitle="Séries educativas">
</app-video-catalogue>

<app-video-catalogue
    [movies]="popularMovies"
    catalogueTitle="Ação e aventura">
</app-video-catalogue>