<app-navbar></app-navbar>

<app-carousel></app-carousel>

<app-video-catalogue
    [movies]="nowPlayingMovies"
    sectionTitle="Séries para assistir a seguir">
</app-video-catalogue>

<app-video-catalogue
    [movies]="popularMovies"
    sectionTitle="Séries Amazon Originals e exclusivos">
</app-video-catalogue>

<app-video-catalogue
    [movies]="topRatedMovies"
    sectionTitle="Melhores séries">
</app-video-catalogue>

<app-video-catalogue
    [movies]="upcomingMovies"
    sectionTitle="Séries de suspense">
</app-video-catalogue>

<app-video-catalogue
    [movies]="nowPlayingMovies"
    sectionTitle="Séries adicionadas recentemente">
</app-video-catalogue>

<app-video-catalogue
    [movies]="popularMovies"
    sectionTitle="Séries indicadas e premiadas com o Emmy">
</app-video-catalogue>