.navbar {
    display: flex;

    align-items: center;

    width: 100%;
    height: auto;

    padding: 16px 48px;

    font-size: 17px;
    line-height: 24px;

    box-sizing: border-box;

    background-color: $blue-primary;

    a {
        color: $white-primary;

        cursor: pointer;

        text-decoration: none;
    }

    .active {
        color: $white-primary;

        font-weight: bold;

        border-bottom: 1px solid $white-primary
    }
}
