.video-section {
    width: 100%;
    height: auto;

    box-sizing: border-box;

    .video-section__title {
        width: auto;
        height: auto;

        margin-left: 50px;
        padding-bottom: 7px;

        font-size: 19px;
        font-weight: 700;

        color: $white-primary;

        &:first-child {
            padding-top: 24px;
        }
    }
}
