<div class="video-section">

    <h1 class="video-section__title">{{ sectionTitle }}</h1>

    <ul class="video-catalogue">

        <li class="video-catalogue__item" *ngFor="let movie of movies.results">

                <img
                    [src]="imagesUrl + movie.backdrop_path"
                    onerror="this.src='../../assets/images/png/defaultImage.png';"
                    [alt]="movie.original_title"
                    class="video__image">

                <div class="video__info">

                    <h2 class="video__title">{{ movie.original_title }}</h2>

                    <p class="video__description">{{ movie.overview | truncate : [200, '...'] }}</p>

                    <p class="video__year">{{ movie.release_date }}</p>

            </div>

        </li>

    </ul>

</div>