<app-navbar (keyUpEvent)="receiveInputValue($event)"></app-navbar>

<div class="filtered-section">

    <h1 class="filtered-section__title">{{ amountOfVideos }} resultado(s) para "{{ filteredVideosInput }}".</h1>

    <hr>

    <ul class="filtered__catalogue">

        <li class="filtered__item">

            <div class="filtered__video" *ngFor="let movie of filteredVideos.results">

                <img
                    [src]="imagesUrl + movie.backdrop_path"
                    onerror="this.src='../../../assets/images/png/defaultImage.png';"
                    [alt]="movie.original_title"
                    class="filtered-video__image">

                <div class="filtered-video__info">

                    <h2 class="filtered-video__title">{{ movie.original_title }}</h2>

                    <p class="filtered-video__description">{{ movie.overview | truncate : [200, '...'] }}</p>

                    <p class="filtered-video__year">{{ movie.release_date }}</p>

                </div>

            </div>

        </li>

    </ul>

</div>

<app-footer></app-footer>