<div class="video-section">

    <h1 class="video-section__title">{{ sectionTitle }}</h1>

    <ul class="video-catalogue">

        <li class="video-catalogue__item">

            <div class="video" *ngFor="let movie of movies.results">

                <img [src]="imagesUrl + movie.backdrop_path" [alt]="movie.original_title" class="video__image">

                <div class="video__info">

                    <h2 class="video__title">{{ movie.original_title }}</h2>

                    <p class="video__description">{{ movie.overview | truncate : [200, '...'] }}</p>

                    <p class="video__year">{{ movie.release_date }}</p>

                </div>

            </div>

        </li>

    </ul>

</div>