<app-navbar></app-navbar>

<app-carousel></app-carousel>

<app-video-section
    [movies]="nowPlayingMovies"
    sectionTitle="Filmes em destaque">
</app-video-section>

<app-video-section
    [movies]="popularMovies"
    sectionTitle="Filmes recomendados">
</app-video-section>

<app-video-section
    [movies]="topRatedMovies"
    sectionTitle="Filmes adicionados recentemente">
</app-video-section>

<app-video-section
    [movies]="upcomingMovies"
    sectionTitle="Filmes Amazon Originals">
</app-video-section>

<app-video-section
    [movies]="topRatedMovies"
    sectionTitle="Filmes dramáticos">
</app-video-section>

<app-video-section
    [movies]="popularMovies"
    sectionTitle="Melhores filmes">
</app-video-section>

<app-footer></app-footer>