<app-navbar></app-navbar>

<app-carousel></app-carousel>

<app-video-catalogue
    [movies]="nowPlayingMovies"
    sectionTitle="Filmes e séries para assistir a seguir">
</app-video-catalogue>

<app-video-catalogue
    [movies]="popularMovies"
    sectionTitle="Séries Amazon Originals e exclusivos">
</app-video-catalogue>

<app-video-catalogue
    [movies]="topRatedMovies"
    sectionTitle="Séries que achamos que você vai gostar">
</app-video-catalogue>

<app-video-catalogue
    [movies]="upcomingMovies"
    sectionTitle="Filmes recomendados">
</app-video-catalogue>

<app-video-catalogue
    [movies]="nowPlayingMovies"
    sectionTitle="Filmes em destaque">
</app-video-catalogue>

<app-video-catalogue
    [movies]="popularMovies"
    sectionTitle="Filmes adicionados recentemente">
</app-video-catalogue>